@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Epilogue', sans-serif;
  background: hsl(0, 0%, 98%);
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 70%;
}